apiVersion: infrastructure.cluster.x-k8s.io/v1alpha3
kind: AWSCluster
metadata:
  name: cesdemo
spec:
  networkSpec:
    vpc:
      id: {{ .VpcID }}
    subnets:{{ range .SubnetIds }}
      - id: {{ . }}{{ end }}