apiVersion: infrastructure.cluster.x-k8s.io/v1alpha3
kind: AWSMachineTemplate
metadata:
  name: cesdemo-control-plane
spec:
  template:
    spec:
      additionalSecurityGroups:
        - id: {{ .SecurityGroupID }}